{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}


{% block body %}
    {% if app.user.role == 1 %}
        <style>
            .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
            .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        </style>

        <div class="main">
            {% if error is defined and error is not empty %}
                <div>  {{ error }} </div>
            {% endif %}
            {% if success is defined and success is not empty %}
                <div>  {{ success }} </div>
            {% endif %}
            <table id="services">
                <tr>
                    <th>Car</th>
                    <th>Service</th>
                    <th>Status</th>
                    <th>More</th>
                </tr>
                {% for s in carServices %}
                    <tr>
                        <td>{{ s.rulerCar }}</td>
                        <td>{{ s.rulerService }}</td>
                        <td>{{ s.status }}</td>
                        <td><a href = "{{ 'carservicemore/'}}">More</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="main">
    {% if app.user.role == 2 %}
        {% if error is defined and error is not empty %}
            <div>  {{ error }} </div>
        {% endif %}
        {% if success is defined and success is not empty %}
            <div>  {{ success }} </div>
        {% endif %}
        <table id="services">
            <tr>
                <th>Car</th>
                <th>User</th>
                <th>Service</th>
                <th>Status</th>
                <th>Mechanic</th>
                <th>More</th>
                <th>Change Status</th>
            </tr>
            {% for s in carServices %}
                {% if s.status != 'Service done' %}
                <tr>
                    <td>{{ s.rulerCar }}</td>
                    <td>{{ s.rulerUser }}</td>
                    <td>{{ s.rulerService }}</td>
                    <td>{{ s.status }}</td>
                    <td>{{ s.mechanic }}</td>
                    <td><a href = "{{ 'carservicemore/' ~ s.id }}">More</a></td>
                    <td><a href = "{{ 'carservicestatus/' ~ s.id }}">Change status</a></td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        </div>
    {% endif %}
{% endblock %}
