<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hello {% endblock %}</title>
        {% block stylesheets %} <link href="{{ asset('style.css') }}" rel="stylesheet"> {% endblock %}
    </head>
    <body>
{% block header %}
    {% if app.user %}
    <nav>
        <div class="navbar">
            <a href=" {{ path('main') }}"> {{ 'Home' }}</a>
            <a href=" {{ path('profile') }}"> {{ 'Profile' }}</a>
            <a href=" {{ path('service') }}"> {{ 'Services' }}</a>
            <a href=" {{ path('car_service') }}"> {{ 'Register car to service!' }}</a>
            <a style="float:right" href=" {{ path('my_cars') }}"> {{ 'My Cars' }}</a>
            <a style="float:right" href=" {{ path('logout') }}"> {{ 'Logout' }}</a>
        </div>
    </nav>
    {% else %}
    <nav>
        <div class="navbar">
            <a href=" {{ path('main') }}"> {{ 'Home' }}</a>
            <a style="float:right" href=" {{ path('user_registration') }}"> {{ 'Registration' }}</a>
            <a style="float:right" href=" {{ path('login') }}"> {{ 'Login' }}</a>
        </div>
    </nav>
    {% endif %}
    {% endblock %}
        {% block body %}{% endblock %}
    {% block footer %}
    <footer>
        <div class="footer">
            <p>© ATTE semester project. All rights reserved.</p>
        </div>
    </footer>
    {% endblock %}
{% block javascripts %}
{% endblock %}
    </body>
</html>
