{% extends 'base.html.twig' %}
{% block title %}Hello!{% endblock %}

{% block body %}
    <div class="main">
        {{ form_start(form) }}

        <br>
        <br>
        Make {{ form_widget(form.make) }}
        Model {{ form_widget(form.model) }}
        Year of production{{ form_widget(form.year) }}
        Fuel Type {{ form_widget(form.fuelType) }}

        <button type="submit" class="btn">Add</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
